name: "Action Test"
on:
  workflow_dispatch:
    inputs:
      pattern1:
        description: 'Pattern'
        required: true
      pattern2:
        description: 'Pattern'
        required: false
      pattern3:
        description: 'Pattern'
        required: false
      pattern4:
        description: 'Pattern'
        required: false

jobs:
  analyze:
    name: Analyze
    permissions:
      contents: read
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        language: [ 'java' ]

    steps:
    - name: Checkout repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Initialize CodeQL
      uses: github/codeql-action/init@1b168cd39490f61582a9beae412bb7057a6b2c4e # v4.31.8
      with:
        languages: ${{ matrix.language }}
        queries: security-and-quality

    - run: |
        javatest/build

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@1b168cd39490f61582a9beae412bb7057a6b2c4e # v4.31.8
      with:
        upload: False
        output: sarif-results

    - name: adjust-cvss
      uses: ./
      with:
        #patterns: |
        #  -**/*.java
        #  +**/*Exposed*
        patterns: |
          ${{ github.event.inputs.pattern1 }}
          ${{ github.event.inputs.pattern2 }}
          ${{ github.event.inputs.pattern3 }}
          ${{ github.event.inputs.pattern4 }}
        input: sarif-results/${{ matrix.language }}.sarif
        output: sarif-results/${{ matrix.language }}.sarif

    - name: Upload SARIF
      uses: github/codeql-action/upload-sarif@1b168cd39490f61582a9beae412bb7057a6b2c4e # v4.31.8
      with:
        sarif_file: sarif-results/${{ matrix.language }}.sarif

    - name: Upload loc as a Build Artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: sarif-results
        path: sarif-results
        retention-days: 1
